<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
</head>
<body>
    <h1>Сотрудники</h1>
    <ol>
        <li>
            <p>Авин Дмитрий Сергеевич</p>
            <img src="https://cdn4.zp.ru/job/attaches/2019/06/14/03/140313610556852ad9dff4a19f74870a.jpg" width="400">
        </li>
        <li>
            <p>Карпухин Иван Александрович</p>
            <img src="https://i.ytimg.com/vi/6VbDBDxaay4/maxresdefault.jpg" width="400">
        </li>
    </ol>
</body>
</html>


